= render(BannerComponent.new(variant: variant, dismissible: dismissible, full: full)) do |c|
  With great power comes great responsibility!
  - c.with_action_content do
    = render(IconButtonComponent.new(icon: "user", title: "Edit", data: {test_id: "action-content-btn"}))
