= render(BannerComponent.new(variant: variant, dismissible: dismissible, full: full)) do |c|
  With great power comes great responsibility!
  - c.with_action_button(data: {test_id: "action-btn"}) { "Take action" }
