%h1.text-lg.text-center.font-semibold
  Calendly.com

= sketch_form_with(model: resource, url: registration_path(resource_name), class: "mt-8") do |f|
  = render(Forms::GroupComponent.new) do
    = f.label :name, "Full name"
    = f.text_field :name, autocomplete: "name", required: true

  = render(Forms::GroupComponent.new) do
    = f.label :email, "Email address"
    = f.email_field :email, autocomplete: "email", required: true

  = render(Forms::GroupComponent.new) do
    = f.label :password
    = f.password_field :password,
      autocomplete: "new-password",
      required: true,
      help_text: @minimum_password_length ? "Minimum #{@minimum_password_length} characters" : nil

  = render(Forms::GroupComponent.new) do
    = f.submit "Sign up", class: "w-full"

%p.text-xs.text-gray-500.mt-4
  By clicking Sign up you accept the Calendly
  = render(LinkComponent.new) { "Terms of Use" }
  and acknowledge the
  = render(LinkComponent.new) { "Privacy Policy" }

%p.text-xs.mt-6.text-center
  Already have login and password?
  = render(LinkComponent.new(href: new_user_session_path)) { "Sign in" }
