= render(BaseComponent.new(**@options)) do
  %div{class: "py-1.5 mr-2 flex-shrink-0 sm:mr-3 #{icon_classes}"}
    = heroicon(@icon, size: 20)

  %div{class: "flex-1 sm:flex"}
    %p{class: "py-1.5 flex-1 flex items-start"}
      = content

    - if action
      %div{class: "flex-shrink-0 mt-1 pb-1.5 sm:mt-0 sm:pb-0"}
        = action

  - if @dismissible
    %div{class: "flex-shrink-0 -mr-2 ml-2"}
      = render(IconButtonComponent.new(icon: "x-mark", title: "Dismiss", variant: icon_btn_variant, data: {action: "click->banner#hide"}))
