%header.h-12.bg-white.border-b.px-4.flex-shrink-0.flex.items-center.justify-between
  .flex-1
    .max-w-sm.w-full
      = render(Forms::TextFieldComponent.new(nil, nil, class: "!border-gray-300 focus:!border-blue-500", placeholder: "Search Calendly")) do |c|
        = c.with_prefix_icon(icon: "magnifying-glass")

  .flex.items-center.space-x-3
    = render(IconButtonComponent.new(icon: "bell", title: "Notifications"))
    = render(IconButtonComponent.new(icon: "question-mark-circle", title: "Help"))

    = render(DropdownComponent.new(class: "flex items-center justify-center", placement: :bottom_end)) do |c|
      = c.with_button(class: "!p-0 !border-0 hover:!bg-transparent active:!bg-transparent") do
        = render(AvatarComponent.new(src: "https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80", alt: @current_user.name))
      = c.with_menu do |m|
        = m.with_item(href: "#") { "Edit profile" }
        = m.with_item(href: "#") { "Preferences" }
        = m.with_item(divider: true)
        = m.with_item(tag: :div, role: "presentation") do
          = form_with url: destroy_user_session_path(script_name: nil), method: :delete, role: "presentation" do |f|
            = f.submit "Sign out", class: "text-gray-700 block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 active:bg-gray-200 focus:outline-none focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-blue-500", data: {dropdown_target: "item"}
