<script setup lang="ts">
import { inject } from 'vue';

const startDate = inject('startDate');
const endDate = inject('endDate');
console.log({ startDate, endDate });
</script>

<template>
  <div>Events</div>
</template>
