%div{class: "flex-shrink-0 flex items-center justify-between bg-white border-b h-12 px-4"}
  %div{class: "flex items-center space-x-3"}
    = render(ButtonComponent.new(tag: :a, href: schedule_months_path)) { "Today" }
    %div{class: "flex items-center"}
      = render(IconButtonComponent.new(tag: :a, href: previous_month_url, icon: "chevron-left", title: "Previous month"))
      = render(IconButtonComponent.new(tag: :a, href: next_month_url, icon: "chevron-right", title: "Next month"))
    = view_heading

  %div
    = render(ButtonComponent.new(variant: :primary)) { "New event" }
