= render(Schedule::HeaderComponent.new(start_date: date_range.first, end_date: date_range.last)) do |c|
  - c.with_view_heading { @start_date.strftime("%B %Y") }

%h1{id: "current-month", class: "sr-only"}
  = @start_date.strftime("%B %Y")

%div{role: "grid", class: "flex-1 flex flex-col", aria: {describedby: "current-month"}}
  %div{role: "row", class: "grid grid-cols-7 flex-shrink-0"}
    - t("date.day_names").each do |day_name|
      %div{role: "columnheader", class: "py-2 px-4 col-span-1 flex items-center text-gray-600"}
        = day_name

  %div{role: "presentation", class: "flex-1 flex flex-col"}
    - date_range.in_groups_of(7) do |week|
      %div{role: "row", class: "flex-1 flex flex-col relative"}
        %div{class: "grid grid-cols-7 flex-shrink-0 absolute inset-0", aria: {hidden: true}}
          - week.each do |day|
            %div{class: class_names("col-span-1 border-r last-of-type:border-r-0 border-t", "shadow-[inset_0_4px_0_-1px] shadow-blue-500": day.today?)}
              %h2{class: class_names("py-1.5 px-4 text-xs", day_classes(day)), aria: {hidden: true}, data: {test_id: "#{day}-name"}}
                = format_day(day)

        = # This container should hold the events
        %div{class: "flex-1 mt-[30px] overflow-hidden relative js-week-row", data: {start_date: week.first, end_date: week.last}}
