/* Base styles */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: 5px theme('spacing.3');
  font-size: theme('fontSize.sm');
  border-radius: theme('borderRadius.DEFAULT');
  appearance: none;
  box-shadow: theme('boxShadow.sm');
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  @apply ring-2;
  @apply ring-offset-2;
}

.btn:disabled {
  cursor: not-allowed;
}

/* Default styles */
.btn--default {
  color: theme('colors.gray.700');
  background-color: theme('colors.white');
  border-color: theme('colors.gray.300');
}

.btn--default:hover {
  background-color: theme('colors.gray.100');
}

.btn--default:active {
  background-color: theme('colors.gray.200');
}

.btn--default:focus-visible {
  @apply ring-blue-500;
}

.btn--default:disabled {
  color: theme('colors.gray.500');
  border-color: theme('colors.gray.300');
  background-color: theme('colors.gray.100');
}

/* Primary */
.btn--primary {
  color: theme('colors.white');
  font-weight: theme('fontWeight.semibold');
  background-color: theme('colors.blue.500');
}

.btn--primary:hover {
  background-color: theme('colors.blue.600');
}

.btn--primary:active {
  background-color: theme('colors.blue.500');
}

.btn--primary:focus-visible {
  @apply ring-blue-500;
}

.btn--primary:disabled {
  background-color: theme('colors.blue.300');
  border-color: theme('colors.blue.300');
}

/* Danger */
.btn--danger {
  color: theme('colors.white');
  font-weight: theme('fontWeight.semibold');
  background-color: theme('colors.red.500');
}

.btn--danger:hover {
  background-color: theme('colors.red.600');
}

.btn--danger:active {
  background-color: theme('colors.red.500');
}

.btn--danger:focus-visible {
  @apply ring-red-500;
}

.btn--danger:disabled {
  background-color: theme('colors.red.300');
  border-color: theme('colors.red.300');
}
