!!! 5
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Calendly Preview
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", data: {turbo_track: "reload"}
    = javascript_include_tag "application", data: {turbo_track: "reload"}, defer: true

  %body.p-4.text-gray-900.bg-white.text-sm
    = yield
