%h1.text-lg.text-center.font-semibold
  Calendly.com

= sketch_form_with(model: resource, url: session_path(resource_name), class: "mt-8") do |f|
  = render(Forms::GroupComponent.new) do
    = f.label :email, "Email address"
    = f.email_field :email, autocomplete: "email", required: true

  = render(Forms::GroupComponent.new) do
    = f.label :password
    = f.password_field :password, autocomplete: "current-password", required: true

  = render(Forms::GroupComponent.new(class: "flex items-center justify-between")) do
    .flex.items-center.flex-1
      = f.check_box :remember_me
      = f.label :remember_me
    .flex-shrink-0
      = render(LinkComponent.new(href: new_user_password_path)) { "Forgot password?" }

  = render(Forms::GroupComponent.new) do
    = f.submit "Sign in", class: "w-full"

%p.text-xs.mt-6.text-center
  Don't have an account?
  = render(LinkComponent.new(href: new_user_registration_path)) { "Sign up" }
