@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** Custom styles */
@import 'buttons/index';
@import 'forms/index';

[hidden][hidden] {
  display: none !important;
}

input[type='submit'] {
  cursor: pointer;
}
