%h1.text-lg.text-center.font-semibold
  Create an organization

%p.text-center.mt-1.text-gray-600
  In an organization, you can invite your teammates, collaborate with them, and have fun at the same time.

= sketch_form_with(model: @organization, class: "mt-8") do |f|
  = render(Forms::GroupComponent.new) do
    = f.label :name, "Your organization's name"
    = f.text_field :name, required: true

  = render(Forms::GroupComponent.new) do
    = f.submit class: "w-full"
