.relative
  - if prefix_icon?
    .absolute.inset-y-0.left-0.flex.items-center.pl-3.pointer-events-none{data: {test_id: "prefix-icon"}}
      = prefix_icon

  - # `before_render` does not check on `initialize`
  - @options[:class] = class_names(@options[:class], "pl-10": prefix_icon?)
  = @view_context.text_field(@object_name, @method_name, **@options)
  = render(Forms::HelpTextComponent.new(id: @help_text_id)) { @help_text }
