!!! 5
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Calendly
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", data: {turbo_track: "reload"}
    = javascript_include_tag "application", data: {turbo_track: "reload"}, defer: true

  %body.min-h-screen.flex.flex-col.bg-white.text-sm.text-gray-900
    - flash.each do |type, msg|
      = render(BannerComponent.new(variant: type.to_sym, full: true)) { msg }

    .flex-1.flex.flex-col.align-center.justify-center
      .max-w-sm.w-full.mx-auto.px-4
        = yield
